---
import { cn } from "@/lib/utils";
import Icon from "astro-icon";
import { buttonVariants } from "@/components/ui/button";
---

<section
  class="relative space-y-6 pb-12 pt-16 md:py-28 lg:py-44 bg-fixed bg-cover"
>
  <div
    class="absolute inset-0 bg-gradient-to-b from-gray-300/70 via-gray-100/90 to-gray-100/30 dark:from-black dark:via-black/70 dark:to-red-700/90"
  >
  </div>

  <div
    class="container relative flex max-w-[64rem] flex-col items-center gap-5 text-center z-10"
  >
    <h1
      class="font-cinzel text-5xl font-bold sm:text-5xl md:text-7xl lg:text-8xl !leading-[1.1] text-balance"
    >
      Hive Documentation
      <span
        class="bg-gradient-to-r from-red-600 to-yellow-100 bg-clip-text text-transparent"
      >
        <span class="font-cinzel font-bold"> </span>
      </span>
    </h1>

    <p
      class="max-w-[42rem] leading-normal text-gray-300 sm:text-xl sm:leading-8 text-balance"
    >
      Welcome to the Hive documentation. Here you will find all the information
      you need to get started with Hive.
    </p>

    <div class="flex justify-center space-x-2 md:space-x-4">
      <a href="docs/getting-started" class={cn(buttonVariants({ size: "lg" }))}>
        <p class="text-lg font-bold">Doc</p>
      </a>
      <a
        href="/blog"
        target="_blank"
        rel="noreferrer"
        class={cn(buttonVariants({ variant: "outline", size: "lg" }), "px-4")}
      >
        <p class="text-lg font-bold">updates</p>
      </a>
    </div>
  </div>
</section>
