---
import { siteConfig } from "@/config/site";
import BaseLayout from "./base-layout.astro";


type Props = {
  title: string;
  description: string;
};

const { title, description } = Astro.props;
---

<BaseLayout title={title} description={description}>
  <div
    class="container relative flex min-h-screen flex-col items-center justify-center md:grid lg:max-w-none lg:grid-cols-2 lg:px-0"
  >
    <div class="absolute right-4 top-4 md:right-8 lg:top-8">
      <slot name="right-corner" />
    </div>

    <div class="absolute right-8 bottom-4 md:right-12 md:bottom-8">
    
    </div>

    <div
      class="relative h-full flex-col bg-muted p-10 text-white dark:border-r md:flex "
    >
      <div class="absolute inset-0 bg-background/50"></div>
      <div class="relative z-20 flex items-center text-lg font-medium">
        <a href="/" class="items-center space-x- flex ">
          <img src="/logo.png" alt="" class="size-4 md:size-8 mx-2" />
          <span class=" font-bold md:inline-block font-cinzel">
            {siteConfig.name}
          </span>
        </a>
      </div>

      <div class="relative z-20 text-gray-100  top-[15%]  md:top-[10%]  lg:top-[15%]  mx-auto max-w-xl p-4 mt-20 md:mt-2  border rounded-lg shadow-lg">

        <h2 class="text-2xl font-bold mb-4">How to Test Ragnarok - Detailed Instructions</h2>
      
        <div class="mb-4">
          <h3 class="text-lg font-bold">Download the Game:</h3>
          <ol class="list-decimal pl-6">
            <li>Access the Google Drive link and locate the Ragnarok .zip file.</li>
            <li>Download the .zip file to your computer.</li>
          </ol>
        </div>
      
        <div class="mb-4">
          <h3 class="text-lg font-bold">Installation:</h3>
          <ol class="list-decimal pl-6">
            <li>Find the .zip file in your downloads folder and extract all contents.</li>
            <li>Open the unzipped folder to access the game files.</li>
          </ol>
        </div>
      
        <div class="mb-4">
          <h3 class="text-lg font-bold">Launching the Game:</h3>
          <ol class="list-decimal pl-6">
            <li>Double-click 'Chess2D.exe' within the folder. If a security prompt appears, select 'Run Anyway'.</li>
            <li>Once the game launcher opens, click on 'Play' to commence your adventure in Ragnarok.</li>
          </ol>
        </div>
      
        <p class="mb-2"><strong>Note:</strong> You can play against yourself by opening the game twice.</p>
      </div>
     
    </div>

    <div class="md:p-16  mt-20 md:mt-0 ">
      <slot />
    </div>
  </div>
</BaseLayout>
